body {
	background-color: yellow;
}

.message {
	margin: 10px;
	background-color: orange;
	word-wrap: break-word;
}

#deployment-info {
	background-color: green;
	margin: 10px;
	color: white;
}

#header {
	margin: 10px;
	color: black;
	background-color: aqua;
}
